<v-snackbar v-model="snackbar">
  <% message %>
  <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
</v-snackbar>

<v-dialog v-model="dialogform" max-width="600px">
    <v-card>
        <v-card-title>
            <span class="headline">Edit Todo</span>
        </v-card-title>

        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.label" label="Label"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.description" label="Description"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.avancement" label="Avancement"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.poids" label="Poids"></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="blue darken-1" text @click="dialogform =false">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="Editing">Save</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>